{% extends "base.html" %}

{% block main %}
<div class="bigLogoContainer">
    <img id = "bigLogo"src="../../static/images/logo.png">
</div>
    <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
      <div class="container text-center">
        <h2>Everything you want in the time you want</h2>
        <h3>Fast Reliable Efficient</h3>
        <div class="col-md-8 col-md-offset-2">
          <div class="red-border"></div>
          <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">We are trying to ease the process of shopping where it usually take a lot of time from our customers which is very valuable in our perspective.</p>
        </div>
      </div>

    
    {% endblock %}
